<ion-view ng-style="bodyBackground" scroll="true">
  <div class="header">
      <h1>Top Quizers</h1>
  </div>

	<div class="main">
		<ion-content scroll="true" style="top: 11%">
		<div class="leaderboard-list-container">
		<div class="row responsive-sm" ng-repeat="item in leaderboardData">
			<div class="col leaderboard-item" style="border:2px solid;margin:2px;">
				<div class="row">
					<div class="col col-80">
						<div class="row">
							<img src="{{item.profile_image}}" />
						</div>
						<div class="row"><p>{{item.name}}</p></div>
					</div>
					<div class="col col-20">
						<p>{{item.score}}</p>
					</div>
				</div>	
			</div>
		</div>
		</div>
		</ion-content>
	</div>

</ion-view>