<ion-view ng-style = "bodyBackground">
  <div class="header">
      <h1>Quiz!t</h1>
  </div>

  <div data-role="page" id="pageone" class="verify">
    <div data-role="header" class="title">
      <h1>Verify Events!</h1>
    </div>

    <div  data-role="main" class="message">
      <p>
      This is a dummy message.    
      This is a dummy message.
      This is a dummy message.
      This is a dummy message.
      </p>
      <div class="confirmation"></div>
    </div>
  </div> 

  <div class="footer">
    <h1>2014 All Rights Reserved</h1>
  </div>
</ion-view>