<ion-view ng-style = "bodyBackground" scroll="true">
  <div class="header">
      <h1>Notification</h1>
  </div>
	<ion-content  class = "message" scroll="true">
		<ul class="list list-inset">
			<li class="item" ng-repeat="content in data">
				<span ng-show={{content.type=='question'}}>Someone just asked: </span>
				<span ng-show={{content.type=='answer'}}>Your friend {{content.name}} just answered your question </span>
				"{{content.question}}"
				<span ng-show={{content.type=='answer'}}>with "{{content.answer=='Y'&&'Yes'||'No'}}"</span>
				<button class="button button-icon icon ion-close-circled icon-right energized right" ng-click="userResponse('{{content.question}}', 'I')"></button>
				<button ng-show="{{content.type=='question'}}" class="button button-outline button-assertive right" ng-click="userResponse('{{content.question}}', 'Y')">No</button>
				<button ng-show="{{content.type=='question'}}" class="button button-outline button-balanced right" ng-click="userResponse('{{content.question}}', 'Y')">Yes</button>
			</li>
		</ul>
	</ion-content>
  <div class="footer">
    <h1>2014 All Rights Reserved</h1>
  </div>
</ion-view>