/*For the login, intro and other windows*/
.leaderboard-list-container{
	margin-top: 90%;
	margin: auto;
	width: 70%;
	/* max-width: 300px; */
	padding: 3%;
	padding-left: 5%;
	padding-right: 5%;
	background-color: white;
	opacity: 0.95;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}