/* Empty. Add your own CSS if you like */
/* Style for chat template */
.text-right{
	text-align: right;
}

.chat-card{
	border: none;
	box-shadow: none;
}

.chat-item{
	margin: 1% 0% 1% 0%;
}

.answer{
	max-width: 60%;
	float: right;
	clear: both;
}

.question{
	max-width: 60%;
	float: left;
	clear: both;
}

.has-footer{
	bottom: 20%;
}

.tall-footer{
	min-height: 15%;
	max-height: 17%;
}

.chat-button-font{
	font-size: 1.5rem;
}

.idle{
	font-style: italic;
	font-family: sans-serif;
	font-size: 1rem;
	bottom: 15%;
	margin: auto;
}

.one {
    opacity: 0;
    -webkit-animation: dot 0.5s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 0.5s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 0.5s infinite;
    -webkit-animation-delay: 0.1s;
    animation: dot 0.5s infinite;
    animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 0.5s infinite;
    -webkit-animation-delay: 0.2s;
    animation: dot 0.5s infinite;
    animation-delay: 0.3s;
}

@-webkit-keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.highlight{
	font-size: 1.5rem;
	color: red;
}
/* END_OF Style for chat template */