
body{
/*background-image: url('../img/bg2.jpg');*/
font-family: 'Shadows Into Light', cursive;
}
h1, h2, h3, h4, h5, h6, a
{
	font-family: 'Amatic SC', cursive;
}
h1{
	font-size: 1.5em;
	text-align: center;
}
a{
	font-weight: bold;
}

/*Sidemenu indicator*/
.sideindicate{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 17.32px;
	border-color: transparent transparent transparent yellow;
	position: fixed;
	top: 10px;
	left: 5px;
}

/*For the title area*/
.header{
	width: 0;
	height: 0;
	margin:auto;
	margin-bottom: 5%;
	border-style: solid;
	border-width: 100px 100px 0 100px;
	border-color: #111 transparent transparent transparent;
}

.header h1 {
	/*font-family: 'Oswald', sans-serif;*/
	font-weight: bold;
	top: -80%;
	left: -50px;
	width: 100%;
	position: relative;
	color: #fff;
	line-height: 1;
	width: 100px;
}


/*For the login, intro and other windows*/
.window-float{
	margin-top: 90%;
	margin: auto;
	width: 70%;
	max-width: 300px;
	padding: 3%;
	background-color: white;
	opacity: 0.95;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
}

.content{
	width: 90%;
	margin: auto;
	margin-top: 15%;
	margin-bottom: 30%;
}

#Facebook, #Google,#Cancel,#Verify{
	padding-top: 10%;
	color: #00BFAA;
	font-size: 2em;
	width: 40%;
	text-decoration: none;
}
#Facebook:active, #Google:active,#Cancel:active, #Verify:active{
	color: yellow;
}
#Facebook, #Cancel{
	text-align: right;
	float: left;
}

#Google, #Verify{
	float: right;
	text-align: left;
}

/*For Footer*/
.footer{
	opacity: 0.7;
	width: 100%;
	position: fixed;
	bottom: 0;
	font-size: 0.8em;
}

/*Verify+login*/
.main{
	font-family: 'Waiting for the Sunrise', cursive;
}

.card
{
	margin-top: 200px;
	opacity: 0.9;
}
/*Loading*/
#loading{
	padding: 10px;
	background-color: yellow;
	border-radius: 5px;
	border: grey;
	opacity: 0.6;
	width: 35px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

/*Question page*/
#Verify-Question{
	margin-top: 50px;
}

.yes-button{
	background-color: #96C48C;
	height: 70px;
	padding: 20px;
	margin-top: 15px;
}

.yes-button:hover{
	background-color: #75AC65;
}

.no-button{
	background-color: #CC9E91;
	padding-top: 20px;
	height: 70px;
	padding: 20px;
	margin-bottom: 5px;
}

.no-button:hover{
	background-color: #C96E85;
}

.question{
	background-color: #444444;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	color: white;
	height: 140px;
	font-size: 20px;
	opacity: 0.8;
}


/*Sidemenu page*/
.menu{
height: 100%;

}
.menu img{
	margin-left: 30%;
	display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
}

#menu-item-1, #menu-item-2,#menu-item-3, #menu-item-4, #menu-item-5{
opacity: 1;
text-align: center;
position: relative;
margin-bottom: -10%;
}

#menu-item-1 .menulist, #menu-item-2 .menulist, #menu-item-3 .menulist, #menu-item-4 .menulist, #menu-item-5 .menulist{
	position: absolute;
	text-align: center;
	left: 5%; 
	top: 80%;
	width: 70%;
	margin-left: 10%;
}

#menu-item-1{
/*background-color: #EBAD49;
*/}

#menu-item-2{
/*top: 20%;*/
/*background-color: #E86036;
*/
}

#menu-item-3{
/*top: 40%;*/
/*background-color: #B2C5CF;
*/}

#menu-item-4{
/*top: 50%;*/
/*background-color: #8CAC81;
*/}

#menu-item-5{
/*top: 60%;*/
/*background-color: #1AAFE3;
*/}
/*#menu-item-1:active, #menu-item-2:active,#menu-item-3:active,#menu-item-4:active,#menu-item-5:active{
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
opacity: 1；
}*/