/* Empty. Add your own CSS if you like */


.verify{
	width: 80%;
	margin: auto;
	box-shadow: 0px 0px 10px 0px black;
	background-color: #F6F6F6;
	border: 10px solid white;
	position: relative;
	 max-width: 400px; 
/*	padding-top: 3%;
*/	/*padding-left: 5%;
	padding-right: 5%;*/
	opacity: 1;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px black;
	border: 10px solid white;
	/*border-top: 50px solid #00BFAA;*/
}

.verify h1{
	font-size: 2em;
	margin-top: 5%;
}

.message{
	width: 90%;
	margin: auto;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0px 0px 10px 0px #eee;
	padding: 5%;
	font-size: 1.5em;
}
.confirmation{
	color: #00BFAA;
	text-align: center;
	width: 90%;
	margin: auto;
	font-size: 1em;
	text-shadow: 2px 2px 0px yellow;
}