extends layout

block content
  h1= title
  p Welcome to #{title}
  .item.add-task
    div.action
      form(action='/contribute', method='post')
        input(type='hidden', value=locals._csrf, name='_csrf')
        div.name
          input(type='text', name='name', placeholder='Add a new quiz')
        div.delete
          input.btn.btn-primary.btn-sm(type="submit", value='add')

    div.bonusbase
      form(action='/bonusbasequery/getbonusforchallenger',method='post')
        input(type='hidden', value=locals._csrf, name='_csrf')
        div.challengerid
          input(type='text', name='challenger_id', placeholder='challenger_id')
          input(type='text', name='challengee_id', placeholder='challenger_id')
        div.submit
          input.btn.btn-primary.btn-sm(type="submit", value='Get Bonus')

    div
      form(action='/userlogin',method='post')
        div
          input(type='text', name='facebook_account', placebolder='facebook_account')
          input(type='password', name='password', placebolder='password')
        div
          input(type="submit",value="Log In")