body{
background-image: url('../img/bg1.jpg');
font-family: 'Reenie Beanie', cursive;
}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Amatic SC', cursive;
}
h1{
	font-size: 24px;
}
a{
	font-weight: bold;
}
.bar-header h1{
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
}
.bar-subheader, .bar-footer{
	opacity: 0.7;
}
/*Verify+login*/
.main{
	font-family: 'Waiting for the Sunrise', cursive;
}

.card
{
	margin-top: 200px;
	opacity: 0.9;
}
/*Loading*/
#loading{
	padding: 10px;
	background-color: yellow;
	border-radius: 5px;
	border: grey;
	opacity: 0.6;
	width: 35px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

/*Question page*/
#Verify-Question{
	margin-top: 50px;
}
.yes-button{
	background-color: #96C48C;
	height: 70px;
	padding: 20px;
	margin-top: 15px;
}
.yes-button:hover{
	background-color: #75AC65;
}
.no-button{
	background-color: #CC9E91;
	padding-top: 20px;
	height: 70px;
	padding: 20px;
	margin-bottom: 5px;
}
.no-button:hover{
	background-color: #C96E85;
}
.question{
	background-color: #444444;
	padding: 20px;
	text-align: center;
	vertical-align: middle;
	color: white;
	height: 140px;
	font-size: 20px;
	opacity: 0.7;
}